
<!DOCTYPE html>
<html>
<head>
<title>Mental Health Resources</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<header>
<h1>Mental Health Resources</h1>
</header>
<main>
<section>
<h2>Hotlines</h2>
<ul>
<li>National Suicide Prevention Lifeline: 1-800-273-8255</li>
<li>Crisis Text Line: Text HOME to 741741</li>
<li>The Trevor Project: 1-866-488-7386</li>
</ul>
</section>
<section>
<h2>Support Groups</h2>
<ul>
<li>National Alliance on Mental Illness (NAMI): https://www.nami.org/</li>
<li>Anxiety and Depression Association of America (ADAA): https://adaa.org/</li>
<li>MentalHealth.gov: https://www.mentalhealth.gov/</li>
</ul>
</section>
<section>
<h2>Online Resources</h2>
<ul>
<li>National Institute of Mental Health (NIMH): https://www.nimh.nih.gov/</li>
<li>HelpGuide.org: https://www.helpguide.org/</li>
<li>WebMD: https://www.webmd.com/</li>
</ul>
</section>
</main>
<footer>
<p>Mental health matters. You are not alone.</p>
</footer>
</body>
</html>

